.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  padding: 10px;
  height: 100%;
}
.card {
  cursor: pointer;
  background-color: var(--White);
  height: auto;
  max-height: 500px;
  border: 1px solid var(--Black);
  filter: drop-shadow(1px 1px 3px #222222);
}
.edit-product-button {
  text-decoration: none;
  background-color: transparent;
  font-size: 3rem;
  border: none;
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--Red);
  cursor: pointer;
  transition: 300ms;
  outline: none;
}
.edit-product-button:hover {
  color: var(--White);
  transition: 300ms;
}
.edit-product-link {
  text-decoration: none;
  color: red;
  outline: none;
}

.delete-product-button {
  background-color: transparent;
  font-size: 3rem;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--Red);
  cursor: pointer;
  transition: 300ms;
  outline: none;
}
.delete-product-button:hover {
  color: var(--White);
  transition: 300ms;
}
.delete-product-confirm {
  position: fixed;
  top: 250px;
  left: 0;
  right: 1px;
  height: 300px;
  z-index: 1000;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid var(--Red);
  filter: drop-shadow(1px 1px 15px black);
  display: none;
}
.delete-product-confirm button {
  padding: 1rem;
  width: 100%;
  font-size: 1.25rem;
  margin: 0.5rem;
  color: var(--Black);
  background-color: var(--White);
  transition: 300ms;
  cursor: pointer;
}
.delete-product-confirm button:hover {
  color: var(--White);
  background-color: var(--Black);
  transition: 300ms;
}
.card > h1 {
  font-size: 1.75rem;
  padding: 1rem;
  color: var(--Red);
  text-align: center;
}
.card > .description {
  font-size: 1rem;
  color: var(--Black);
  text-align: center;
  overflow: hidden;
  padding: 10px;
  height: 90px;
}
.card .go-to-details {
  color: var(--Black);
  text-align: center;
  transition: 300ms;
  font-size: 1rem;
}
.card .go-to-details:hover {
  color: var(--Red);
  transition: 600ms;
}
.card > .price {
  font-size: 1rem;
  font-weight: 900;
  padding: 15px;
  color: var(--Black);
  text-align: center;
}

.card > img {
  width: 100%;
  height: 250px;
  object-fit: fill;
  z-index: 1;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}
.card li {
  list-style: none;
  z-index: 10;
  padding-bottom: 10px;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .delete-product-confirm {
    position: fixed;

    top: 50%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */

    /* bottom: 50vh; */
    /* right: 50%; */
    height: 300px;
    width: 500px;
  }
}
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* }

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(5, 1fr);
  }
} */
