* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

:root {
  --Red: #8d021f;
  --Light-Red: rgba(141, 2, 31, 0.6);
  --Grey: #6d6a75;
  --Light-Grey: #bfbdc1;
  --Black: #030301;
  --White: #f5f5f5;
}
html,
body {
  background-color: var(--White);
  height: 100vh;
  font-family: Assistant, sans-serif;
  font-weight: 400;
}
