.header-slides {
  height: 70vh;
  width: 100%;
}
.slide {
  /* top: 10vh; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* color: var(--White); */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  /* height: 10vh; */

  /* padding: 15vh; */
}
.slide h1 {
  color: var(--White);
  color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  font-size: 3rem;
  padding-top: 15vh;
  padding-left: 1rem;

  filter: drop-shadow(1px 1px 15px var(--Black));
}
.slide p {
  color: rgba(255, 255, 255, 0.6);

  z-index: 10;
  font-size: 2rem;
  padding-left: 1rem;
  filter: drop-shadow(1px 1px 10px var(--Black));
}
.slide img {
  position: absolute;

  width: 100%;
  height: 100%;

  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0; */
}
@media (min-width: 900px) {
  .slide h1 {
    padding-top: 15vh;
    font-size: 8rem;
  }
  .slide p {
    z-index: 10;
    font-size: 5rem;
  }
}
