/* Mobile */
.navbar button {
  border: none;
  display: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
#hamburger-button-id {
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 15;
  filter: drop-shadow(1px 1px 1px #222222);
}
.side-nav {
  height: 100%;
  text-align: center;
  width: 0;
  position: fixed;
  z-index: 15;
  top: 0;
  right: 0;
  background-color: var(--White);
  overflow-x: hidden;
  padding-top: 150px;
  transition: width 700ms;
  font-size: 110%;
  font-family: Assistant, sans-serif;
  overflow-y: hidden;
  filter: drop-shadow(1px 1px 10px #222222);
}

.side-nav a {
  padding: 10px;
  text-decoration: none;
}
.side-nav li {
  text-decoration: none;
  padding: 20px;
}

.side-nav li a {
  color: var(--Black);
  font-size: larger;
  font-weight: 400;
  transition: 1600ms;
  text-decoration: none;
}
.side-nav a:hover {
  color: var(--Red);
  transition: 600ms;
}
#profile-small-nav-item {
  opacity: 0;
}
#contact-small-nav-item {
  opacity: 0;
}
#home-small-nav-item {
  opacity: 0;
}
.side-nav button {
  text-decoration: none;
  color: var(--Grey);
  display: block;
  transition: 600ms;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 100;
}

/* Desktop */
#top-menu {
  font-family: Assistant, sans-serif;
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  height: 70px;
  font-weight: 500;
  width: 100%;
}
#top-menu a {
  text-decoration: none;
  color: var(--Grey);
  transition: 600ms;
  padding: 17px;
  cursor: pointer;
  color: var(--Red);
}
#top-menu a:hover {
  transition: 600ms;
  text-decoration: none;
  background-color: var(--White);
}

@media (max-width: 900px) {
  .navbar button {
    display: block;
  }
  #top-menu a {
    display: none;
  }
  #smaller-display-side-navbar-items {
    display: block;
    font-size: 90%;
    transition: 500ms;
  }
  #top-menu a {
    display: none;
    opacity: 0;
  }
  .navbar img {
    width: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 15;
    filter: drop-shadow(1px 1px 1px #222222);
  }
}

@media (min-width: 900px) {
  #top-menu {
    height: 70px;
  }

  .navbar img {
    height: 50px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
    filter: drop-shadow(1px 1px 1px #222222);
  }
}
