.search {
  width: 100%;
  background-color: var(--Red);
  height: 10vh;
}
.search form input {
  height: 10vh;
  width: 100%;
  display: block;
  /* margin-left: 69.9%; */
  font-size: 1.5rem;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 1px;
  outline-color: var(--Red);
  font-family: Assistant, sans-serif;

  color: var(--Black);
}
.search form input ::placeholder {
  font-size: 2rem;
}
@media (min-width: 900px) {
  .search form input {
    height: 10vh;
    width: 50%;
    display: block;
    margin: auto;
    outline-color: var(--Black);
  }
}
