.about-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
  /* color: red; */
}
.about-page-header {
  max-height: 400px;
}
.about-page-header img {
  width: 100%;
  height: 100%;
  max-height: 400px;
}
.about-page-container .access-navbar {
  padding-top: 20px;
  padding-right: 20px;
  width: 100%;
  text-align: right;
  max-width: 500px;
}
.about-page-container .access-navbar a {
  margin-left: 5px;
  color: var(--Red);
}
.about-page-container .access-navbar a:hover {
  font-weight: 900;
  color: var(--Light-Red);
}

.about-page-container p {
  /* color: red; */
  max-width: 500px;
  text-align: right;
  padding: 20px;
  color: var(--Black);
}
.about-page-container h2 {
  color: var(--Red);
  max-width: 500px;
  text-align: right;
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
}
