.potential-clients-list {
  padding: 20px;

  display: flex;
  flex-direction: column;
}
.potential-clients-list h1 {
  color: var(--Red);
  margin-top: 5vh;
  margin-bottom: 3vh;
  text-align: right;
  width: 100%;
}
.potential-clients-list .card {
  padding-right: 20px;
  background-color: white;
  width: 100%;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.1));
  transition: 600ms ease;
  margin: auto;
  margin-bottom: 20px;
}
.potential-clients-list .card:hover {
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.2));
  transition: 600ms ease;
}
.potential-clients-list .card .client_name {
  text-align: right;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  color: rgba(0, 0, 0, 0.95);
  font-weight: 500;
}
.potential-clients-list .card .client_email {
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
  padding: 10px;
}
.potential-clients-list .card .client_email a {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
}
.potential-clients-list .card .client_email a i {
  margin-left: 5px;
}
.potential-clients-list .card .client_email a:hover {
  color: var(--Red);
  /* font-weight: 900; */
}

.potential-clients-list .card .client_number {
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
  padding: 10px;
}
.potential-clients-list .card .client_number a {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
}
.potential-clients-list .card .client_number a i {
  margin-left: 5px;
}
.potential-clients-list .card .client_number a:hover {
  color: var(--Red);
}
.delete-client-button {
  color: rgba(0, 0, 0, 0.5);
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  cursor: pointer;
  font-size: 1.5rem;
}
