/*
=============== 
Slider
===============
*/

.section-center {
  top: 70px;
  width: 100%;
  height: 70vh;
  text-align: center;
  position: relative;
  margin-bottom: 70.5px;
  background-color: var(--Black);
  overflow: hidden;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 2800ms ease;
}
article .person-img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: Black;
  margin: none;
  padding: none;
}

article .title {
  position: absolute;
  color: rgba(245, 245, 245, 0.95);
  top: 20vh;
  left: 50%;
  font-size: 2.5rem;
  font-weight: 800;
  transform: translate(-50%, 0);
  min-width: 200px;
}
article .text {
  color: rgba(245, 245, 245, 0.9);
  position: absolute;
  top: 30vh;
  left: 50%;
  width: 300px;
  font-size: 2rem;
  transform: translate(-50%, 0);
  font-weight: 600;
}
.hero-section-call-to-action {
  color: rgba(245, 245, 245, 1);
  position: absolute;
  top: 45vh;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  font-size: 2rem;
  background-color: var(--Red);
  border: solid 1px rgba(245, 245, 245, 0.9);
  padding: 10px;
  transition: 600ms ease;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.1));
}
.hero-section-call-to-action:hover {
  color: var(--Red);
  background-color: rgba(245, 245, 245, 0.9);
  border: solid 1px var(--Red);
  transition: 450ms ease;
}
.hero-section-call-to-action > i {
  font-size: 1.75rem;
}
.prev,
.next {
  position: absolute;
  top: 35vh;
  transform: translateY(-50%);
  background: transparent;
  color: rgba(255, 255, 255, 1);
  border-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  transition: 600ms;
  margin: 10px;
  margin-right: 20px;
  outline: none;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
  display: none;
}
.prev:hover,
.next:hover {
  color: var(--Red);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}
@media (min-width: 800px) {
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    margin: 10px;
  }
  article .title {
    font-size: 5rem;
  }
  article .text {
    font-size: 3rem;
    width: 600px;
  }
}
.section-center {
  margin-bottom: 70.1px;
}
