/*
=============== 
Slider
===============
*/

.section-center {
  top: 70px;
  width: 100%;
  height: 350px;
  text-align: center;
  position: relative;
  margin-bottom: 72px;
  background-color: var(--Black);
  overflow: hidden;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1300ms ease;
}
article .person-img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: Black;
  margin: none;
  padding: none;
}

article .title {
  position: absolute;
  color: var(--White);
  top: 30px;
  left: 50%;
  font-size: 2.5rem;
  font-weight: 800;
  filter: drop-shadow(1px 1px 1px Black);
  transform: translate(-50%, 0);
  min-width: 200px;
}
article .text {
  color: var(--White);
  position: absolute;
  top: 135px;
  left: 50%;
  max-width: 300px;
  min-width: 200px;
  filter: drop-shadow(1px 1px 1px black);
  font-size: 2rem;
  transform: translate(-50%, 0);
  font-weight: 600;

  /* overflow: hidden; */
}

.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: transparent;
  color: var(--White);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  transition: 600ms;
  margin: 10px;
  margin-right: 20px;
  outline: none;
  filter: drop-shadow(1px 1px 1px black);
}
.prev:hover,
.next:hover {
  color: var(--Red);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}
@media (min-width: 800px) {
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    margin: 10px;
  }
}
